.app {
  text-align: center;
  padding-top: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  justify-content: flex-end !important;
}

.table {
  cursor: pointer;
}

div.formGpReceipt,
div.formGpReceipt div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

div.formGpReceipt > label {
  flex: 0 25%;
}

div.formGpReceipt > select,
div.formGpReceipt > .basic-multi-select {
  flex: 0 75%;
  width: 100%;
}

div.formGpReceipt > button {
  flex: 0 75%;
}

div.formGpReceipt div > label {
  flex: 0 25%;
}

div.formGpReceipt div > select {
  flex: 0 75%;
}

div.formGpReceipt > select {
  flex: 0 75%;
}

div.formGpReceipt > input {
  flex: 0 75%;
}

.modalFooterDel {
  justify-content: space-between !important;
}

.modalFooterDel div:only-child {
  margin-left: auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
